#loadingMainDot {
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #252327;
    box-shadow: -20px 0px #252327,20px 0px #252327;
    animation: l18 1s infinite;
  }
  @keyframes l18{ 
    25% { box-shadow: -20px -20px #252327, 20px 20px #252327; }
    50% { box-shadow: 0px -20px #252327, 0px 20px #252327; }
    75% { box-shadow: 20px -20px #252327, -20px 20px #252327; }
    100% { box-shadow: 20px 0px #252327, -20px 0px #252327; }
  }